* {
    background-color: darkcyan;
}


img {
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    width: 30%;
}
a {
    max-width: fit-content;
    background-color: #fff;
    display: block;
    padding: 5px;
}