* {
    background-color: darkcyan;
}


img {
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    width: 30%;
}
a {
    max-width: fit-content;
    background-color: #fff;
    display: block;
    padding: 5px;
}
h1 {
    background-color: #fff;
    padding: 5px;
    text-align: center;
}
ul {
    background-color: #fff;
    padding: 5px;
    list-style-type: none;
}
li {
    background-color: white;
}